
  <mat-toolbar class="mat-elevation-z6 mat-headline" color="primary">
    <span>Cabici Race Manager</span>&nbsp;|&nbsp;
    <span>{{currentUser()}}</span>
    <span class="toolbar-spacer"></span>
    <div id="button-row">
      <button mat-raised-button id="load-riders-button" (click)="apiLoad()">Load Data</button>
      <button mat-raised-button id="load-riders-button" (click)="entryService.uploadResults()">Upload Results</button>
      <button mat-button id="race-select-button" (click)="selectRace()">Race: {{currentRace()}}</button>
    </div>
  </mat-toolbar>
