
<div class="button-row">
  <button mat-raised-button color='warn' (click)="resetEntries()">Reset Entries</button>
  <button mat-raised-button color='default' (click)="entryService.downloadEntries(false)">Download Entries</button>
  <span><a #download href="#" (click)="csvDownload(download)">Download CSV</a></span>
  <!--
  <span><a #json href="#" (click)="jsonDownload(json)">Dump (debug)</a></span>
  <input type="file" id="jsonFile" (change)="loadJSONFile($event)">
  -->
</div>

<div class="rider-table container">
  <mat-tab-group dynamicHeight [selectedIndex]="selectedTab">
    <mat-tab *ngFor="let gradeTable of gradeTables">
      <ng-template mat-tab-label>
        {{ gradeTable.grade }}/{{ gradeTable.table.data.length }}
      </ng-template>

      <mat-table #table  class="filter-table" [dataSource]="gradeTable.table">
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
          <mat-cell *matCellDef="let entry">{{ entry.number }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rider">
          <mat-header-cell *matHeaderCellDef>Rider</mat-header-cell>
          <mat-cell *matCellDef="let entry">{{ entry.rider.first_name }} {{entry.rider.last_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="club">
          <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
          <mat-cell *matCellDef="let entry">{{ entry.rider.club }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="updateEntry(row)"></mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
</div>
